@page "/"
@using System.Text.Json
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>This is Climatrol</h1>

<p>Please <a href="/.auth/login/aad">log in</a> to reveal hidden places.</p>
<p><a href="/.auth/logout">Log Out</a></p>

<h2>Sign Up Sign In</h2>
<p>Please <a href="https://b2cdevtest1.b2clogin.com/b2cdevtest1.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_b2cdevtest1-signupsignin001&client_id=c3d3733b-9a35-4a4c-84ff-d6be2d82be49&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fmango-ocean-0e030bb0f.5.azurestaticapps.net%2F.auth%2Flogin%2Faadb2c%2Fcallback&scope=openid&response_type=id_token&prompt=login">log in</a> to reveal hidden places.</p>


<h3>User Information</h3>
<pre>@userInfo</pre>

@code {
    private string? userInfo;

    protected override async Task OnInitializedAsync()
    {
        JsonElement userInfoJson = await JSRuntime.InvokeAsync<JsonElement>("getUserInfo");
        userInfo = JsonSerializer.Serialize(userInfoJson, new JsonSerializerOptions { WriteIndented = true });
    }
}
